@use 'sass:map';
@use 'sass:color';

$theme: () !default;
@use 'colors';

%rt-component {
  padding: 0.5em;
  border-radius: 0.6vmax;
  background-color: map.get(colors.$theme, "secondary-lightest");
  
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 2em;
  }
}

div.rt-election, div.rt-selection {
  @extend %rt-component;

  & > div {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 1em;
    column-gap: 1em;
    align-items: center;
    div:nth-child(odd) {
      max-width: 40vw;
    }
    div:nth-child(even) {
      border-radius: 0.4vmax;
      background-color: map.get(colors.$theme, "primary");
      height: 1em;
      &:not(:empty) {padding: 0.4em;}
      margin-right: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: end;
      transition: margin-right 0.5s ease-in-out;

      & > div {
        background-color: map.get(colors.$theme, "secondary-dark");
        color: white;
        border-radius: 50%;
        min-width: 1em;
        text-align: center;
        padding: 0 0.3em;
      }
    }
  }
}

div.rt-rating {
  @extend %rt-component;

  display: flex;
  flex-flow: column nowrap;
  flex: auto;

  & > div {
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
    grid-template-rows: 1fr auto;
    justify-items: center;
    flex: 1 1 auto;
  
    div.bar {
      width: 100%;
      position: relative;

      & > div {
        position: absolute;
        top: 100%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        background-color: map.get(colors.$theme, "primary");
        transition: top ease-in-out 0.5s;
        &:not(:empty) {padding: 0.4em;}

        & > div {
          background-color: map.get(colors.$theme, "secondary-dark");
          color: white;
          border-radius: 50%;
          min-width: 1em;
          text-align: center;
          padding: 0 0.3em;
        }
      }
    }
  }

}
