@use 'sass:map';
@use 'sass:color';

$theme: () !default;

%rt-component {
  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
  }
}

div.rt-election {
  @extend %rt-component;

  & > div {
    display: grid;
    grid-template-columns: 40vw 1fr;
    row-gap: 0.5em;
    align-self: center;
  }

}
