/********************************************/
/*                 Colors                   */
/********************************************/
@use "sass:map";
@import 'colors';

@each $name, $col in $theme {
  svg {
    .fill-#{$name}: $col;
    .stroke-#{$name}: $col;
  }
}

/********************************************/
/*             SVG declarations             */
/********************************************/
svg {
	.shadowed {
		filter: url('data:image/svg+xml,\
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">\
<filter id="shadow" x="0" y="0" width="200%" height="200%">\
    <feOffset result="off" in="SourceGraphic" dx="10" dy="10" />\
    <feColorMatrix result="matout" in="off" type="matrix" values="0.2 0 0 0 0 0 0.2 0 0 0 0 0 0.2 0 0 0 0 0 1 0" />\
    <feGaussianBlur result="blur" in="matout" stdDeviation="5" />\
    <feBlend in="SourceGraphic" in2="blur" mode="normal" />\
</filter>\
</svg>#shadow');
	}

    .end-arrow {
      marker-end: url('data:image/svg+xml,\
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">\
<marker id="arrow" markerWidth="5" markerHeight="5" refX="2" refY="1.5" orient="auto" markerUnits="strokeWidth">\
<path d="M0,0 L0,3 L4.5,1.5 z" fill="context-fill" />\
</marker>\
</svg>#arrow');
    }

	.svgbox {
		rx: 10;
		ry: 10;
		stroke: map.get($theme, "primary");
		fill: map.get($theme, "primary-lighter");
		filter: url("#shadow");
	}

	.hcentertext {
		text-anchor: middle;
	}

	.hvcentertext {
		text-anchor: middle;
		dominant-baseline: middle;
	}
}
