@import "colors";

// SVG declarations
svg {
	.fill_la {
		fill: $palettela;
	}

	.fill_a { fill: $palettea; }

	.fill_b { fill: $paletteb; }

	.fill_c { fill: $palettec; }

	.fill_d { fill: $paletted; }

	.fill_e { fill: $palettee; }

	.stroke_a { stroke: $palettea; }

	.stroke_b { stroke: $paletteb; }

	.stroke_c { stroke: $palettec; }

	.stroke_d { stroke: $paletted; }

	.stroke_e { stroke: $palettee; }

	.stroke_f { stroke: $palettef; }

	.shadowed {
		filter: url("#shadow");
	}

	.svgbox {
		rx: 10;
		ry: 10;
		stroke: $palettea;
		fill: $palettela;
		filter: url("#shadow");
	}

	.hcentertext {
		text-anchor: middle;
	}

	.hvcentertext {
		text-anchor: middle;
		dominant-baseline: middle;
	}
}
