@charset "UTF-8";
/********************************************/
/*                 Colors                   */
/********************************************/
:root {
  --primary-dark: rgb(128.8, 157.6, 21.6);
}

:root {
  --primary-darker: rgb(96.6, 118.2, 16.2);
}

:root {
  --primary-darkest: rgb(64.4, 78.8, 10.8);
}

:root {
  --primary-light: rgb(190.65, 227.4214285714, 53.7785714286);
}

:root {
  --primary-lighter: rgb(206.7375, 234.3160714286, 104.0839285714);
}

:root {
  --primary-lightest: rgb(222.825, 241.2107142857, 154.3892857143);
}

:root {
  --secondary-dark: rgb(6.4, 64, 110.4);
}

:root {
  --secondary-darker: rgb(4.8, 48, 82.8);
}

:root {
  --secondary-darkest: rgb(3.2, 32, 55.2);
}

:root {
  --secondary-light: rgb(11.9890410959, 119.8904109589, 206.8109589041);
}

:root {
  --secondary-lighter: rgb(48.5671232877, 156.2712328767, 243.0328767123);
}

:root {
  --secondary-lightest: rgb(117.3780821918, 189.1808219178, 247.0219178082);
}

:root {
  --tertiary-dark: rgb(184, 110.4, 0);
}

:root {
  --tertiary-darker: rgb(138, 82.8, 0);
}

:root {
  --tertiary-darkest: rgb(92, 55.2, 0);
}

:root {
  --tertiary-light: rgb(255, 165.4, 31);
}

:root {
  --tertiary-lighter: rgb(255, 187.8, 87);
}

:root {
  --tertiary-lightest: rgb(255, 210.2, 143);
}

:root {
  --quaternary-dark: #00cc00;
}

:root {
  --quaternary-darker: #009900;
}

:root {
  --quaternary-darkest: #006600;
}

:root {
  --quaternary-light: #33ff33;
}

:root {
  --quaternary-lighter: #66ff66;
}

:root {
  --quaternary-lightest: #99ff99;
}

:root {
  --neutral-dark: rgb(95.2, 95.2, 95.2);
}

:root {
  --neutral-darker: rgb(71.4, 71.4, 71.4);
}

:root {
  --neutral-darkest: rgb(47.6, 47.6, 47.6);
}

:root {
  --neutral-light: rgb(146.2, 146.2, 146.2);
}

:root {
  --neutral-lighter: rgb(173.4, 173.4, 173.4);
}

:root {
  --neutral-lightest: rgb(200.6, 200.6, 200.6);
}

:root {
  --primary: #A1C51B;
}

:root {
  --secondary: #08508A;
}

:root {
  --tertiary: #e68a00;
}

:root {
  --quaternary: lime;
}

:root {
  --neutral: #777;
}

:root {
  --palettee: #199fd9;
}

:root {
  --palettef: #ff3399;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
body > div {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
body > div > h1 {
  font: bold 2.2vmin sans-serif;
  text-align: center;
  flex: 0 1 auto;
}

/********************************************/
/*             Inline elements              */
/********************************************/
button {
  font-size: 2em;
  padding: 1em;
  margin: 1em;
  min-width: 20vw;
  background-color: #A1C51B;
  border: 1px solid rgb(96.6, 118.2, 16.2);
  border-radius: 2px;
  color: white;
  text-align: center;
  transition: background-color 0.5s ease;
  cursor: pointer;
}
button:hover {
  background-color: rgb(128.8, 157.6, 21.6);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

/********************************************/
/*                Election                  */
/********************************************/
div.rt-election > ul, div.rt-selection > ul {
  flex: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}
div.rt-election > ul > li, div.rt-selection > ul > li {
  flex: 1 0 30vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0.3em;
  padding: 1em 0.2em;
  container-type: size;
  list-style-type: none;
  font-size: 3cqi;
  background-color: #A1C51B;
  border: 1px solid rgb(96.6, 118.2, 16.2);
  border-radius: 2px;
  color: white;
  text-align: center;
  transition: background-color 0.5s ease;
  cursor: pointer;
}
div.rt-election > ul > li:hover, div.rt-selection > ul > li:hover {
  background-color: rgb(128.8, 157.6, 21.6);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

/********************************************/
/*                Selection                 */
/********************************************/
body > div.rt-selection > ul > li.active {
  background-color: #08508A;
}

/********************************************/
/*                 Rating                   */
/********************************************/
div.rt-rating div {
  font-size: 10em;
  color: gold;
  font-weight: bold;
  width: 100%;
  overflow-wrap: break-word;
  text-align: center;
}
div.rt-rating div span:before {
  content: "☆";
}
div.rt-rating div span.lighted:before {
  content: "★";
}

/********************************************/
/*                Ranking                   */
/********************************************/
div.rt-ranking > ul {
  flex: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
div.rt-ranking > ul > li {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0.3em;
  padding: 1em 0.2em;
  container-type: unset;
  list-style-type: none;
  font-size: 2em;
  width: 80vh;
  background-color: #A1C51B;
  border: 1px solid rgb(96.6, 118.2, 16.2);
  border-radius: 2px;
  color: white;
  text-align: center;
  transition: background-color 0.5s ease;
  cursor: pointer;
}
div.rt-ranking > ul > li:hover {
  background-color: rgb(128.8, 157.6, 21.6);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}
div.rt-ranking > ul > li.fake {
  border: 1px dashed #A1C51B;
}
div.rt-ranking > ul > li.fake-clone {
  opacity: 0.3;
}

/*# sourceMappingURL=sync.css.map */
