/********************************************/
/*                 Colors                   */
/********************************************/
@use "sass:map";
@use "sass:math";
@use "sass:list";
@use "sass:color";
$theme: () !default;
@use 'colors' with ($theme: $theme);

@mixin interactive {
  background-color: map.get(colors.$theme, "primary");
  border: 1px solid map.get(colors.$theme, "primary-darker");
  border-radius: 2px;
  color: white;
  text-align: center;
  transition: background-color 0.5s ease;
  cursor: pointer;
  &:hover {
    background-color: map.get(colors.$theme, "primary-dark");
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  }
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;

  & > div {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    & > h1 {
      font: bold 2.2vmin sans-serif;
      text-align: center;
      flex: 0 1 auto;
    }
}

/********************************************/
/*             Inline elements              */
/********************************************/
button {
  font-size: 2em;
  padding: 1em;
  margin: 1em;
  min-width: 20vw;
  @include interactive;
}

/********************************************/
/*                Election                  */
/********************************************/
div.rt-election > ul, div.rt-selection > ul {
    flex: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;

    & > li {
      flex: 1 0 30vw;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      margin: 0.3em;
      padding: 1em 0.2em;
      container-type: size;
      list-style-type: none;
      font-size: 3cqi;
      @include interactive;
    }
  }
}

/********************************************/
/*                Selection                 */
/********************************************/
body > div.rt-selection > ul > li.active {
  background-color: map.get(colors.$theme, "secondary");
}

/********************************************/
/*                 Rating                   */
/********************************************/
div.rt-rating {
  div {
    font-size: 10em;
    color: gold;
    font-weight: bold;
    width: 100%;
    overflow-wrap: break-word;
    text-align: center;

    span:before {
      content: '☆';
    }

    span.lighted:before {
      content: '★';
    }
  }
}
