/********************************************/
/*                 Colors                   */
/********************************************/
@use "sass:map";
@import 'colors';

/********************************************/
/*            Custom properties             */
/********************************************/
// This is needed to deactive inheritance on custom properties. Empty strings are filtered out in the Javascript script
* {
	--autofragment: "";
	--animation: "";
	--components: "";
	--background: "";
	--foreground: "";
	--background-layer: "";
	--foreground-layer: "";
}

/********************************************/
/*               Transitions                */
/********************************************/
body>section {
	// Slide-animation: fade
	&.anim-fade-transitions {
		opacity: 1;
		transition: opacity 1s ease-in-out;
	}

	&.anim-fade-from {
		opacity: 0 !important;
	}

	&.anim-fade-to {
		opacity: 0 !important;
	}

	// Slide-animation: sweep
	&.anim-sweep-transitions {
		transition: left 1s ease-in-out;
	}

	&.anim-sweep-from {
		left: 100%;
	}

	&.anim-sweep-to {
		left: -100%;
	}

	// Slide-animation: rotate
	&.anim-rotate-transitions {
		transform-origin: -50% 50%;
		transition: transform 1s ease-in-out;
	}

	&.anim-rotate-from {
		transform: rotate(-90deg);
	}

	&.anim-rotate-to {
		transform: rotate(90deg);
	}

	// Slide-animation: convex
	&.anim-convex-transitions {
		opacity: 1;
		transform-origin: center center 250px;
		transition-property: transform, opacity;
		transition-duration: 1s;
		transition-timing-function: ease-in-out;
	}

	&.anim-convex-from {
		transform: rotateY(-120deg) scale(0.5);
		opacity: 0 !important;
	}

	&.anim-convex-to {
		transform: rotateY(120deg) scale(0.5);
		opacity: 0 !important;
	}

	// Slide-animation: takeoff
	&.anim-takeoff-transitions {
		opacity: 1;
		transform-origin: center center;
		transition-property: transform, opacity;
		transition-duration: 1s;
		transition-timing-function: ease-in-out;
	}

	&.anim-takeoff-from {
		transform: scale(0.2);
		opacity: 0 !important;
	}

	&.anim-takeoff-to {
		transform: scale(5);
		opacity: 0 !important;
	}
}

/********************************************/
/*                Animations                */
/********************************************/
@keyframes pulsebox {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	to {
		transform: scale(1);
	}
}
.pulse {
	animation-play-state: running;
	animation-name: pulsebox;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

/********************************************/
/*                 Mixins                   */
/********************************************/
@mixin shadowed {
	box-shadow: 1.5vw 1.2vh 1.2vmax rgba(0,0,0,0.5);
}

%hiddenLinks {
	a {
		text-decoration: none;
		color: inherit;

		&:hover {
			color: inherit;
		}

		&:visited {
			color: inherit;
		}
	}
}

/********************************************/
/*              General styles              */
/********************************************/
// General declarations
ul {
	margin: 0;
}

p + ul {
	margin: -2.3vh 0 0 0;
}

body {
	height: 100vh;
	overflow: hidden;
	margin: 0;
	font: 2.2vmin sans-serif;
    --background-layer: "active"; // May be "active" or "inactive". When active, the background of the slides is added to a separate background layer, and is not attached to the slide (therefore it does not move with the slides animation. When inactive, the background is added to each slide.
    --foreground-layer: "active";

    & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
        display: none;
    }

    & > h1, & > h2 {
        --outline: "ClassicOutlineSlide";
    }
}

/********************************************/
/*     Background and foreground layers     */
/********************************************/
#background,#foreground,#newbackground,#newforeground {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 1s ease;
    pointer-events: none;
}

#background {
	opacity: 1;
	z-index: -2;
}

#foreground {
	opacity: 1;
    z-index: 2;
}

#newbackground {
	opacity: 0;
	z-index: -2;
}

#newforeground {
	opacity: 0;
    z-index: 2;
}

/********************************************/
/*            Outer components              */
/********************************************/
// Navigation bars
.component-minitoc {
    pointer-events: auto;
	width: 100%;
	height: 5%;
	position: absolute;
	transition: opacity 1s ease;
	display: flex;
	top: 0;
	left: 0;
	flex-flow: row nowrap;
	justify-content: center;

    ul {
        padding: 0;
    }

    a { color: inherit;}

    & > ul {
        display: flex;
        flex-flow: row nowrap;

        & > li {
            list-style-type: none;
            margin: 0 1.2vw;
            font-size: 0.7em;
            color: map.get($theme, "primary-darker");
            padding: 0;
            flex: auto;

            &:not(:has(.current)) {opacity: 0.4;}
            &.current {
                opacity: 1;
                background-color: map.get($theme, "primary-darker");
                color: white;
            }

            & > ul {
                display: block;
                list-style-type: none;
                padding: 0;
                margin: -0.3em 0 0 0;
                li { 
                    display: inline-block; 
                    &.h3 {
                        font-size: 0em;
                        margin-right: 0.5rem;
                    }
                    &.section {
                        font-size: 0px;
                        a::before {
                            font-size: 1rem;
                            content: "\25cb";
                        }
                        &.current a::before {
                            content: "\25cf";
                        }
                    }
                }
            }
        }

    }

	a {
		text-decoration: none;
		font-size: 1.2em;
	}


}

// Footers
.component-classicfooter {
	display: block;
	width: calc(100% - 2.4vw);
	height: 5vh;
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0 1.2vw;
	font-size: 0.7em;
	color: map.get($theme, "primary-darker");

	div:first-child {
		position: absolute;
		left: 0;
		top: 0;
	}

	div:nth-child(2) {
		text-align: center;
	}

	div:last-child {
		position: absolute;
		right: 0;
		top: 0;
	}
}

/********************************************/
/*               Synchronization            */
/********************************************/
// Input line for synchronization
#synchronize {
	background-color: black;
	color: white;
	position: fixed;
	top: -30px;
	left: 0;
	width: 100%;
	z-index: 100;
	display: block;
	transition: top 0.5s ease;
}

#syncstatus {
	font-size: 0.8em;
	background-color: black;
	color: white;
	position: fixed;
	padding: 0 0.2em 0.1em 0.2em;
	top: 0;
	right: 0;
	z-index: 100;
	display: inline-block;
	@extend %hiddenLinks;

	.active {
		color: chartreuse;
		font-weight: bold;
	}

	.inactive {
		color: inherit;
		font-weight: inherit;
	}
}

// QR-Code display
#qrcode-view {
	position: absolute;
	top: 5vh;
	left: 5vw;
	background-color: white;
	width: 90vw;
	height: 0vh;
	border-radius: 2px;
	z-index: 20;
	display: flex;
	flex-flow: column nowrap;
	font-weight: bold;
	font-size: 0;
	font-family: sans-serif;
	transition-duration: 1s;
	transition-timing-function: ease;
	transition-property: height, font-size;

	&.active {
		height: 90vh;
		font-size: 160%;
	}

	.title {
		text-align: center;
		color: map.get($theme, "primary-darker");
		flex: 0 1 0;
	}

	figure {
		flex: 1;
		display: flex;
		flex-flow: column nowrap;
		overflow: hidden;
		position: relative;

		img {
			margin: 0 auto 0 auto;
			height: 100%;
		}
	}

	p {
		text-align: center;
		font-size: 0.7em;
	}
}

/********************************************/
/*              Slide layout                */
/********************************************/
// Slide page
body>section, #thumblayer>div.wthumb>section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	visibility: hidden;

    &:target {
        visibility: visible;
    }

	&.overview-transition {
		transition: transform 1s ease-in-out;
	}

    // Title slide
    &#title {
        --background: "";
        --foreground: "";

        .h1 {
        }

        .authordate {
        }
    }

    // Regular content slide (title + content)
    &.content {
        display: flex;
        flex-flow: column nowrap;
        --background: "";
        --foreground: "[Minitoc(), ClassicFooter()]";

        & > h1 {
			flex: none;
        }

        & > .content {
            flex: auto;
            display: flex;
            position: relative;
            flex-flow: column nowrap;
            justify-content: space-evenly;

            &.autocolumns {
                flex-wrap: wrap;

                &>p,&>ul,&>div {
                    width: calc(50% - 3.6vw);
                    margin: 1.56vh 1.2vw;
                }
            }

            &.twocolumns,.twocolumns {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-between;

                & > div {
                    min-height:0;
                    flex: auto;
                    display: flex;
                    position: relative;
                    flex-flow: column nowrap;
                    justify-content: space-evenly;
                    box-sizing : border-box;
                    width: 45%;
                }

                & > div:first-child {
                    margin-right: 1em;
                }
            }

            &.plain {
                margin-top: 8vh;		
            }
        }
    }

    // Plain slide
	&.plain {
		display: block;
		h1 { margin-top: 0px; }
	}

	&.focus {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		--background: "[ColorBackground('var(--primary-darker)')]";
		
		h1 {
			color: white;
			font-size: 2.5em;
			font-weight: bold;
			text-align: center;
			flex: initial;
		}

	}

    // Outline slide
    &.outline {
        @extend .content;

        & > div > ul > li {
            padding-bottom: 0.2vh;
            padding-right: 1.2vw;
        }

		& > div:has(.current) ul > li:not(.current) { opacity: 0.5; }

        div.content .current {
            opacity: 1;
            background-color: map.get($theme, "primary-lighter");
            @include shadowed;
            border-radius: 1.2vmax;
        }

        @extend %hiddenLinks;
    }

	// A chessboard slide with alternating colors
	&.chessboard {
        display: flex;
        flex-flow: column nowrap;
        --background: "";
        --foreground: "[Minitoc(), ClassicFooter()]";

        & > h1 {
			flex: none;
        }

        & > .content {
            flex: auto;
            display: flex;
            position: relative;
            flex-flow: column nowrap;
            justify-content: flex-start;
			align-items: stretch;

			div {
				margin: 0;
				box-sizing: border-box;
			}

			& > div {
				flex: auto;
				display: flex;
				flex-flow: row nowrap;
				& > div { 
					flex: 0 1 100%; 
					padding: 0.5em;
					display: flex;
					flex-flow: column nowrap;
					justify-content: center;
				}
			}

			& > div:nth-child(odd) > div:nth-child(odd), & > div:nth-child(even) > div:nth-child(even), &.reversed > div:nth-child(odd) > div:nth-child(even), &.reversed > div:nth-child(even) > div:nth-child(odd) {
				background-color: map.get($theme, "primary-darker");
				&, & ul > li, & ul > li::before { color: white; }
			}
		}
	}


    // Inner structure
	p,table,img,object {
		margin: 2.8vh 0;
	}

	figure.centered {
		display: flex;
		flex-flow: column nowrap;
		flex: auto;
		overflow: hidden;
		position: relative;

		svg,img {
			margin: auto;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			max-width: 100%;
			max-height: 100%;
		}
	}

	div.content ul {
		margin: 0.2em 0;
		padding-inline-start: 2.2em;

		& > li {
			list-style-type: none;
			padding-left: 0.4em;
			text-indent: -0.7em;
			line-height: 1;
			
			&::before {
				content: "• ";
				font-size: 200%;
				margin-right: 0.35em;
				color: map.get($theme, "primary-darker");
				display: inline-block;
				vertical-align: -0.1em;
				height: 0.8em;
			}

			li {
				font-size: 0.9em;
				text-indent: -0.8em;
				padding-left: 1em;
				padding-bottom: 1.25vh;

				&::before {
					font-size: 1em;
					content: "✗ ";
				}
			}

			li:last-child {
				padding-bottom: 0px;
			}
		}
	}

	div.content dl {
		display: grid;
		grid-template-columns: max-content auto;
		column-gap: 2em;
		row-gap: 0.3em;

		dt {
			grid-column-start: 1;
			max-width: 25vw;
		}

		dd {
			grid-column-start: 2;
			margin: 0;
		}

		&.rightheader dt {
			justify-self: end;
		}
	}

}

/********************************************/
/*             Overview layout              */
/********************************************/
// Overview
#thumblayer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
	margin: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	z-index: 20;

    & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
        display: none;
    }
}

#coverlayer {
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 15;
	transition: opacity 1s linear;
}

.wthumb {
	width: 20vw;
	height: 20vh;
	margin: 1vh 1vw;
	position: relative;

	&:hover {
		left: -2vw;
		top: -2vh;
		z-index: 21;

		.thumbnail {
			transform: scale(0.25, 0.25);
		}
	}
}

#thumblayer>div.wthumb>section.thumbnail {
	visibility: visible;
	background-color: white;
	border: 1px solid black;
	@include shadowed;
	position: absolute;
	top:0;
	left:0;
	transform-origin: left top;
	transform: scale(0.20, 0.20);

	&.targetted {
		border: 20px solid map.get($theme, "primary");
	}
}


/********************************************/
/*             Fragment styles              */
/********************************************/
// Fragment styles
.visible {
	visibility: visible;
	animation-play-state: running;
}

.invisible {
	visibility: hidden;
	animation-play-state: paused;
}

.semivisible {
	opacity: 0.2;
	animation-play-state: running;
}

/********************************************/
/*             Inner components             */
/********************************************/
// Generic styles
@mixin alertblock($color, $symbol:null) {
	margin: 1.56vh 0vw;
	padding: 0;
	border-radius: 0.6vmax;
	@include shadowed;
	background-color: map.get($theme, "#{$color}-lighter");
	position: relative;

	h1 {
		padding-top: 0.47vh;
		padding-bottom: 0.78vh;
		padding-right: 0.6vw;
		@if $symbol {
			padding-left: 3.5rem;
		} @else {
			padding-left: 0.6vw;
		}
		margin: 0 0 0 0;
		border-radius: 0.6vmax 0.6vmax 0 0;
		font: bold 120% sans-serif;
		color: white;
		background-image: linear-gradient(to bottom,map.get($theme, "#{$color}-darker") 0%,map.get($theme, "#{$color}-darker") 80%,map.get($theme, "#{$color}-lighter") 100%);
	}

	.content {
		padding-top: 0.78vh;
		padding-bottom: 0.78vh;
		padding-right: 0.6vw;
		@if $symbol {
			padding-left: 3.5rem;
		} @else {
			padding-left: 0.6vw;
		}
	}

	li:first-child {
		margin-top: -0.78vh;
	}

	@if $symbol {
		.content::before {
			content: $symbol;
			color: white;
			font-size: italic 1.5em serif;
			border-radius: 1em;
			background-color: map.get($theme, "#{$color}-darkest");
			position: absolute;
			left: 0.3em;
			top: 50%;
			transform: translateY(-50%);
			width: 1.3em;
			text-align: center;
		}
	}
}

.block {
	@include alertblock(primary);
}

.infoblock {
	@include alertblock(secondary, "i");
}

.warningblock {
	@include alertblock(tertiary, "!");
}

strong {
	color: map.get($theme, "primary-darker");
	font-weight: bold;
}

blockquote {
	font-style: italic;
	margin: 0;
	padding: 1.2em 0 0 4.2vw;
	position: relative;
	
	&::before {
		content: "\201C";
		color: map.get($theme, "secondary-darker");
		font-size: 4em;
		position: absolute;
		left: 0px;
		top: -1.56vh;
	}
}

cite {
	display: block;
	text-align: right;
}

.shadowed {
	@include shadowed;
}

figure {
	margin: 0;
}

table {
	display: table;
	text-align: center;
	border: 1px solid grey;
	border-collapse: collapse;

	&:not(.plain) thead,&:not(.plain) tfoot {
		background-color: map.get($theme, "primary-darker");
		color: white;
		font-weight: bold;
	}

	&:not(.plain) tbody.dummy-header {
		font-weight: bold;
		color: map.get($theme, "primary-darker");
	}

	thead,tr,tfoot,tbody.dummy-header {
		border-bottom: 1px solid grey;
	}

	&:not(.plain) tbody tr:nth-child(even) {
		background-color: map.get($theme, "primary-lighter");
	}

	img {
		margin: 0;
	}

	td {
		padding: 0.2em;
	}
	
	ul {
		padding-inline-start: 1.2em;
	}

	&:not(.plain).headcolumn {
		td:first-child {
			background: map.get($theme, "primary-darker");
			font-weight: bold;
			color: white;
		}
	}

	&.fullwidth {
		width: 100%;
	}

	&.grid {
		td {
			border: 1px solid map.get($theme, "primary-darker");
		}
		thead td {
			border: 1px solid white;
		}
		thead {
			border-style: hidden;
		}
	}

	&.leftaligned {
		td {
			text-align: left;
		}
		thead td,tbody.dummy-header td {
			text-align: center;
		}
	}
}

/********************************************/
/*             Handouts styles              */
/********************************************/
@media print {
	@page {
		size: landscape;
	}

	body {
		height: auto;
		margin: 0;
		font: 2.4vh sans-serif;
	}
	
	#thumblayer {
		height: auto;
		position: relative;
		top: -1.8vh;
	}
	
	.wthumb {
		page-break-inside: avoid;
		width: 98vw;
		height: 95.8vh;
		margin-bottom: 4vh;
	}
	
	#thumblayer>div.wthumb>section.thumbnail {
		position: relative;
		transform-origin: left top;
		transform: scale(0.98, 0.958);
	}

	#background, #newbackground, #foreground, #newforeground {
		background-image: none !important;
	}
	
	* {
		animation:none !important;
	}
}
