@charset "UTF-8";
:root {
  --primary-dark: rgb(77.2530693069, 34.4506930693, 176.4293069307);
}

:root {
  --primary-darker: rgb(57.9398019802, 25.838019802, 132.321980198);
}

:root {
  --primary-darkest: rgb(38.6265346535, 17.2253465347, 88.2146534653);
}

:root {
  --primary-light: rgb(130.0922772277, 90.0827722772, 222.7972277228);
}

:root {
  --primary-lighter: rgb(161.3192079208, 131.3120792079, 230.8479207921);
}

:root {
  --primary-lightest: rgb(192.5461386139, 172.5413861386, 238.8986138614);
}

:root {
  --secondary-dark: rgb(192.64, 78.3261538462, 13.76);
}

:root {
  --secondary-darker: rgb(144.48, 58.7446153846, 10.32);
}

:root {
  --secondary-darkest: rgb(96.32, 39.1630769231, 6.88);
}

:root {
  --secondary-light: rgb(241.56, 129.9046153846, 66.84);
}

:root {
  --secondary-lighter: rgb(244.92, 161.1784615385, 113.88);
}

:root {
  --secondary-lightest: rgb(248.28, 192.4523076923, 160.92);
}

:root {
  --tertiary-dark: rgb(255, 22.44, 138.72);
}

:root {
  --tertiary-darker: rgb(208.08, 0, 104.04);
}

:root {
  --tertiary-darkest: rgb(138.72, 0, 69.36);
}

:root {
  --tertiary-light: rgb(255, 124.44, 189.72);
}

:root {
  --tertiary-lighter: rgb(255, 157.08, 206.04);
}

:root {
  --tertiary-lightest: rgb(255, 189.72, 222.36);
}

:root {
  --quaternary-dark: rgb(102.4, 102.4, 0);
}

:root {
  --quaternary-darker: rgb(76.8, 76.8, 0);
}

:root {
  --quaternary-darkest: rgb(51.2, 51.2, 0);
}

:root {
  --quaternary-light: rgb(204.4, 204.4, 0);
}

:root {
  --quaternary-lighter: rgb(255, 255, 25.8);
}

:root {
  --quaternary-lightest: rgb(255, 255, 102.2);
}

:root {
  --neutral-dark: rgb(95.2, 95.2, 95.2);
}

:root {
  --neutral-darker: rgb(71.4, 71.4, 71.4);
}

:root {
  --neutral-darkest: rgb(47.6, 47.6, 47.6);
}

:root {
  --neutral-light: rgb(146.2, 146.2, 146.2);
}

:root {
  --neutral-lighter: rgb(173.4, 173.4, 173.4);
}

:root {
  --neutral-lightest: rgb(200.6, 200.6, 200.6);
}

:root {
  --primary: rgb(98.8653465347, 48.8534653465, 214.7465346535);
}

:root {
  --secondary: rgb(238.2, 98.6307692308, 19.8);
}

:root {
  --tertiary: rgb(255, 91.8, 173.4);
}

:root {
  --quaternary: olive;
}

:root {
  --neutral: #777;
}

:root {
  --palettee: #199fd9;
}

:root {
  --palettef: #ff3399;
}

p + ul {
  margin: -2.3vh 0 0 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}

#notes {
  height: 100%;
  overflow: auto;
  border-right: 1px solid black;
  padding-top: 1px;
  flex: 1 1 70vw;
}
#notes p, #notes table, #notes img, #notes object {
  margin: 2.8vh 0;
}
#notes h1 {
  text-align: center;
  border-bottom: 1px solid black;
}
#notes h2 {
  margin: 0.8em 0 0.2em 0;
}
#notes ul {
  margin: 0.2em 0;
  padding-inline-start: 2.2em;
}
#notes ul > li {
  list-style-type: none;
  padding-left: 0.4em;
  text-indent: -0.7em;
  line-height: 1;
}
#notes ul > li::before {
  content: "• ";
  font-size: 200%;
  color: rgb(57.9398019802, 25.838019802, 132.321980198);
  display: inline-block;
  vertical-align: -0.1em;
}
#notes ul > li li {
  font-size: 0.9em;
  text-indent: -0.8em;
  padding-left: 1em;
  padding-bottom: 1.25vh;
}
#notes ul > li li::before {
  font-size: 1em;
  content: "✗ ";
}
#notes ul > li li:last-child {
  padding-bottom: 0px;
}

aside {
  flex: 1 0 30vw;
  display: flex;
  flex-flow: column nowrap;
}
aside div#next {
  flex: initial;
}
aside div#next iframe {
  width: 100%;
  height: 18vw;
}
aside div.space {
  flex: auto;
}
aside div.counter {
  margin: 0;
  padding: 0.2em 0;
  flex: initial;
  border-style: inset;
  border-width: 3px;
}
aside div.counter h1 {
  margin: 0 0 0.2em 0;
  font-size: 1.2em;
  margin-bottom: 0.3em;
  text-align: center;
}
aside div.counter p {
  margin: 0.2em 0;
  font-size: 1.5em;
  text-align: center;
}
aside .late {
  color: red;
}
aside .early {
  color: green;
}

strong {
  font-weight: bold;
}

/*# sourceMappingURL=template_notes.css.map */
