@font-face {
	font-family: "Marianne";
	src: url('/fonts/Marianne-Thin.otf') format('opentype'),
         local('Marianne Thin');
	font-weight: 0 200;
	font-style: normal;
}
@font-face {
	font-family: "Marianne";
	src: url('/fonts/Marianne-ThinItalic.otf') format('opentype'),
         local('Marianne Thin Italic');
	font-weight: 0 200;
	font-style: italic;
}
@font-face {
	font-family: "Marianne";
	src: url('/fonts/Marianne-Light.otf') format('opentype'),
         local('Marianne Light');
	font-weight: 200 350;
	font-style: normal;
}
@font-face {
	font-family: "Marianne";
	src: url('/fonts/Marianne-LightItalic.otf') format('opentype'),
         local('Marianne Light Italic');
	font-weight: 200 350;
	font-style: italic;
}
@font-face {
	font-family: "Marianne";
	src: url('/fonts/Marianne-Regular.otf') format('opentype'),
         local('Marianne');
	font-weight: 350 450;
	font-style: normal;
}
@font-face {
	font-family: "Marianne";
	src: url('/fonts/Marianne-RegularItalic.otf') format('opentype'),
         local('Marianne Italic');
	font-weight: 350 450;
	font-style: italic;
}
@font-face {
	font-family: "Marianne";
	src: url('/fonts/Marianne-Medium.otf') format('opentype'),
         local('Marianne Medium');
	font-weight: 450 600;
	font-style: normal;
}
@font-face {
	font-family: "Marianne";
	src: url('/fonts/Marianne-MediumItalic.otf') format('opentype'),
         local('Marianne Medium Italic');
	font-weight: 450 600;
	font-style: italic;
}
@font-face {
	font-family: "Marianne";
	src: url('/fonts/Marianne-Bold.otf') format('opentype'),
         local('Marianne Bold');
	font-weight: 600 800;
	font-style: normal;
}
@font-face {
	font-family: "Marianne";
	src: url('/fonts/Marianne-BoldItalic.otf') format('opentype'),
         local('Marianne Bold Italic');
	font-weight: 600 800;
	font-style: italic;
}
@font-face {
	font-family: "Marianne";
	src: url('/fonts/Marianne-ExtraBold.otf') format('opentype'),
         local('Marianne ExtraBold');
	font-weight: 800 1000;
	font-style: normal;
}
@font-face {
	font-family: "Marianne";
	src: url('/fonts/Marianne-ExtraBoldItalic.otf') format('opentype'),
         local('Marianne ExtraBold Italic');
	font-weight: 800 1000;
	font-style: italic;
}
